accession	subfamily	organism	role	reference
WP_011071012.1	MtrA	Shewanella oneidensis MR-1	iron_reduction	doi:10.1126/science.1096742
ADE57625.1	MtoA	Sideroxydans lithotrophicus ES-1	iron_oxidation	doi:10.1128/AEM.00331-11
